* {
    padding: 0;
    margin: 0;
    font-family:"Nunito Sans";
    color: seashell;
    opacity: 1;
}

html {
    font-size: 22px;
    background-color:#47001b;
}

/*Header*/
header {
    border-bottom: 2px solid black ;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #689282;
}

.logo {
    height: 65px;
    width: 200px;
    padding-left: 10px;
    padding-top: 8px;
}

header nav,
header nav a {
    padding: 10px;
    text-decoration: none;
}

/*Main Body*/
main {
    position: relative;
    top: 77px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*About Us*/
.about-img {
    background-image: url('./Resources/leaves2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 80%;
    filter: blur(5px);
    margin-top: 10px;
    margin-bottom: 70px;
}

#about-us {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 500px; 
}

#about-us h2 {
    text-align: center;
    position: relative;
    bottom: 50px;
}

#about-us p {
    text-align: justify;
    width: 80%;
    padding: 20px 35px;
    background-color: black;
    opacity: 0.8;
    box-shadow: 0 0 8px 8px #d1960d inset;
}

/*Products*/
.products-backimg {
    background-image: url('./Resources/workshop-1024x576.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    filter: blur(3px);
    margin-bottom: 50px;
}

#products {
    position: absolute;
    top: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products  h2 {
    text-align: center;
    background-color: black;
    padding: 10px 20px;
}

.product-containers {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 20px;
}

figure img {
    height: 250px;
    width: 375px;
}

figcaption {
    position: relative;
    bottom: 10px;
    text-align: center;
    padding: 10px 0px;
    background-color: black;
}

/*The Crew*/
#members h2 {
    margin-bottom: 50px;
}

#members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.team-member {
    display: grid;
    width: 80%;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20px 300px;
    grid-gap: 50px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #616161;
}

h4 {
    grid-area: 1 / 2 / 2 / 3;
}

ul {
    grid-area: 2 / 2 / 3 / 3;
    
}

#members img {
    width: 250px;
    height: 370px;
}

/*Footer*/
footer {
    height: 80px;
    position: relative;
    top: 77px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: #689282;
}

/* border: 1px solid red; */